### IntelliJ IDEA ###
*.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### jflex ###
**/jflex/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### word/pdf/xlsl
*.pdf
*.xls

### javadoc
docs/
doc/
### readme.txt
*.txt
### compressed files
*.rar
*.zip